<%- include('header') -%>

<div id="create-category">

    <form action="" method="POST">
        <span class="para-error"> <%= err %> </span>
        <h1> Are You Sure ? </h1>
        <label for="name"> Name </label>
        <input required name="name" value="<%= category.name%>" type="text" id="name">
    
        <label for="description"> description </label>
        <textarea required type="text"  name="description" id="description"> <%= category.description %> </textarea>

        <label for="password"> Password </label>
        <input required name="password"  type="text" id="password">

     <button type="submit"> Update</button>
    </form>
    </div>

<%- include('footer') -%>