<%- include('header') -%>
<div id='items'>


<div class="wrapper">
    <% items.map(el=>{ %>
        <div class="card">

            <img src="<%= el.image%>"  class="card-image">

       <div>
        <h3 class="card-title"> <%= el.name %>  </h3>
        <p class="card-content"><%= el.description%></p>

     <div class="category-buttons">
        <button class="card-btn"><a href="<%= `/items/${el._id}` %>"> DETAIL </a> </button>
     </div>

       </div>


    </div>

    <% })%>
</div>

<div class="item-create">
    <i class="gg-add-r"></i>
    <h5>Add item </h5>
</div>
</div>

<script>
    document.querySelector('.item-create').addEventListener('click' , (e)=> {
        window.location = "/items/create";
    })
    
</script>

<%- include('footer') -%>